
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* resetting the in-built margin & padding of elements that comes with it naturally */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;

}




/* correcting the size of home & search icons */
.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

/* styling the library & header section */
.heading{
    display: flex;
    gap: 15px;
    /* width: 100%; */
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

/* fix: adjust library section image/text alignment */
.heading img{
    width: 30px;
}

.library{
    min-height: 80vh;
    position:relative;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
     
    flex-wrap: wrap;
    padding: 10px 0;
}

.footer a{
    color: grey;
   
}

.right{
    margin:16px 0;
    width: 75vw;
    position: relative;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
   
}

.header >*{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
    
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
     /* so that playbar is visible */
    max-height: 70vh;
}
.card{
    /* border: 2px solid red; */
    width: 200px;
    position: relative;
    
    
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    /* background-color: rgb(39, 38, 38); */
    
}
.play{
    position: absolute;
    top: 260px;
    right: 20px;
    /* opacity: 0; */
    transition: all 1s ease-out;
}

.card >*{
    padding-top: 10px;
}

.card img{
    /* width: 175px;
  height: 165px;
  object-fit: cover; */

  height:200px;
  width: 100%;
  object-fit:fill;
 
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(8, 50, 8);
    width: 100%;
    padding: 12px;
    
}
/* styling the elements inside the buttons */
.buttons > *{
margin: 0 12px;
}
.signupbtn{
    background-color:rgb(34, 34, 34);
    color: rgb(156, 149, 149);
    font-weight: bold;
    outline:none;
    border:none;
    cursor: pointer;
   
}

/* putting hover effect */
.signupbtn:hover{
    font-size: 16px;
   color:white; 
}

.loginbtn{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    width: 79px;
    cursor: pointer;
    font-weight: bold;
     /* font-size: 16px; */
}
.loginbtn:hover{  
   font-weight: bolder;
    font-size: 16px;
   /* padding: 11px; */
}