.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

/* to change the color of the svg icons */
.invert{
    filter: invert(2);
}

.bg-grey{
    background-color: #1f1f1f;
}

.rounded{
    border-radius: 7px;
}